.contactForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.inputContainer {
    display: flex;
    gap: 8rem;
}

.leftInput {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.rightInput {
    width: 50%;
}